@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

*{
    margin: 0;
}
body{
    font-family: "Work Sans", sans-serif;
    text-align: center;
}
nav a{
font-size: larger;
margin: 1rem;
text-decoration: none;
color:#fff;
}
nav{
    text-align: right;
    margin-top: 0;
    padding:1rem;
    background-color: #368DC5;
    border-bottom-right-radius: 1rem;
}
h1{
    margin: 0.5rem;
    font-family: "Megrim", cursive;
    text-align: center;;
}
label{
    font-size: large;
    margin: 0.5rem;
    padding: 0.3rem;
}
input{
    font-size: large;
    margin: 0.5rem;
    padding: 0.5rem;
    align-self: center;
    width: 30%
}
button{
    margin: 1rem;
    font-size: larger;
    background-color:#368DC5;
    padding:0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 25%;
    align-self: center;
    cursor: pointer;
    color: #fff;

}
#output{
margin-top: 1rem;
font-size: larger;
margin-bottom: 1rem;
}

h2{
    margin-top: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz{
    width: 85%;
  margin: 1rem auto;
  font-size: larger;
  padding: 1rem 0;
}

footer a{
    font-size: large;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
footer{
    position: fixed;
    
  background-color: #368DC5;
 padding: 1rem;
 right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}